<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>users list</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="container my-4 mt-5">
			<div class="row">
				<div class="col text-center">
					<h1>All Users</h1>
					<div class="row">
						<div class="col">
							<form>
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Email address</label>
									<input
										type="email"
										class="form-control"
										id="exampleInputEmail1"
										aria-describedby="emailHelp"
									/>
									<div id="emailHelp" class="form-text"></div>
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1" />
								</div>
								<div class="mb-3 form-check">
									<input type="checkbox" class="form-check-input" id="exampleCheck1" />
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>

					<table class="table table-light mt-5 tbl">
						<thead>
							<tr>
								<th scope="col">no.</th>
								<th scope="col">name</th>
								<th scope="col">houseNum</th>

								<th scope="col">AadharNum</th>
								<th scope="col">place</th>
								<th scope="col">Bpl type</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
								<td>@mdo</td>
								<td>arkd</td>
								<td>APL</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
								<td>@fat</td>
								<td>arkd</td>
								<td>BPL</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>John</td>
								<td>Doe</td>
								<td>@social</td>
								<td>arkd</td>
								<td>APL</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
			const user = document.getElementById();
		</script>
	</body>
</html>
